.display-container {
  height: 100%;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #D4D4D2;
}

.display-input {
  height: 40px;
  margin: auto 0;
  overflow-x: scroll;
  overflow-y: hidden;
}